/* 
    This document contains styles for Content Section Quadra 
    This is a single column section with a title, text, and two calls to action. this is ideally intended to be used as a call to action section, or a section that is meant to drive conversions.

    Page specific usage: global except download page
    Last updated: 2025-03-17
    Status: Alpha

    Notes 
      - text appears to be too wide for narrower screen sizes
*/
/* Overarching section styles  */
.content-section-quadra {
    padding-block: var(--section-padding-lg);
}
.content-section-quadra > .container__narrow {
    
  display: grid;
  gap: var(--gap-lg);
}

.content-section-quadra__title, .content-section-quadra__lead {
  max-width: 44ch;
  margin: auto;
  text-align: center;
}
.content-section-quadra__lead {
  margin: auto;
}

/* Call to action styles */
.content-section-quadra__actions {
  display: flex;
  gap: var(--gap-sm);
  place-self: center;
}

/* Mobile styling content  */
@media (max-width: 768px) {
  .content-section-quadra__title , .content-section-quadra__lead {
    text-align: left;
    margin: 0;
    /* width: calc(var(--tet-max-width) / 4); */
  }

  .content-section-quadra__lead {
    width: calc(var(--tet-max-width) / 2.6);
  }

  .content-section-quadra__actions {
    flex-direction: column;
    place-self: baseline;
  }
}
