/* 
    header.css is imported in the index.css file.
    control the header of the site
    status - alpha 
    Last updated: 2025-03-27

    Notes:
    - animation 
    - still need to improve the popout design 
    - Acessability is important
    - slim code is important

    - for the future when I'm converting this website to astro, I shall first out how to toggle the aria-current attribute with JS
*/

/* Locally scoped variables - don't use outside the context of this template  */
:root {
  --navlink-click-area: 0.5em;
}
/* Overarching header styles  */
.site-header {
  background-color: var(--white);
  padding-block: var(--section-padding-xs);
  position: sticky;
  position: relative;
  top: 0;
}

/* Spacing the main flex and the links - Flexbox because I can add more navigation items, and I don't want the system to break  */
.site-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hiding the toggle, and mobile on desktop */
.site-header__nav-toggle {
  display: none;
}
.site-header__nav-toggle-label {
  display: none;
}

.site-header__links {
  list-style: none;
  display: flex;
  gap: calc(var(--gap-md) - var(--navlink-click-area));
  align-items: center;
}

/* individual link styles  */
.site-header__link a {
  transition: 0.3s ease-in-out;
  padding: var(--navlink-click-area); /* experimental */
}

/* Active link */

.site-header__link > a[aria-current="page"] {
  font-weight: var(--fw-800);
}
.site-header__link > a:visited {
  rotate: 2deg;
}
/* Rollover effects - selecting all my "nav" links except the cta */
:where(.site-header__link a:hover) :not(.site-header__link:last-child) {
  rotate: 2deg;
  color: var(--site-hover-color);
}

.site-header__links > .site-header__link:last-child a {
  background-color: var(--site-color);
  color: var(--white);
  padding: var(--button-padding);
  border-radius: var(--radius-md);
  font-weight: var(--fw-700);
  cursor: pointer;

  transition: 0.3s ease-in-out;

  margin-inline-start: 18em;
}



/* Temporarily hiding the header on mobile devices  */
@media screen and (max-width: 768px) {

/* Media query scoped variables - DON'T USE ANYWHERE ELSE */
  :root {
    --mobile-icon-size: 60%;
  }
  /* adding more padding (did not mean to rhyme) to the overall containing block */
  .site-header {
    padding: var(--section-padding-md);
    position: sticky;
    top: 0;
  }
  
  .site-header__nav-toggle-label {
  display: block;
  height: 5em;
  width: 5em;
  padding: var(--sp-100);
  cursor: pointer;
  background-image: url(../../media/brand/menu-open.svg);
  background-repeat: no-repeat;
  background-size: var(--mobile-icon-size);
  background-position: center;
  }

/* Showing the navigation when the box is checked  */
.site-header__nav-toggle:checked ~ .site-header__nav {
  display: flex;}

  /* hiding the nav links */
  .site-header__nav {
    display: none;

    flex-direction: column;
    justify-content: center;
    position: absolute;
   inset: 0;
   height: 100vh;
   background-color: hsl(from var(--primary-hsl) h s l / 0.9);
    padding: var(--section-padding-md);
    text-align: center;
    transition: 0.3s ease-in-out;
  }

  .site-header__links {
    place-self: center;
    margin: 0;
    flex-direction: column;
    gap: calc(var(--gap-md) / 2);
  }
  .site-header__link a {
    color: var(--white);
  }
  .site-header__links > .site-header__link:last-child a {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    font-weight: var(--fw-400);

  } 

  .site-header__nav-toggle:checked ~ .site-header__nav-toggle-label {
    z-index: 3;
    background-image: url(../../media/brand/menu-close.svg);
  }
  
  .site-header__brand {
    width: 80%;
  }
}
