/* 
    header.css is imported in the index.css file.
    control the header of the site
    status - alpha 
    Last updated: 2025-03-27

    Notes:
    - animation 
    - still need to improve the popout design 
    - Acessability is important
    - slim code is important

    - for the future when I'm converting this website to astro, I shall first out how to toggle the aria-current attribute with JS
*/

/* Locally scoped variables - don't use outside the context of this template  */
:root {
  --navlink-click-area: 0.5em;
}
/* Overarching header styles  */
.site-header {
  background-color: var(--white);
  padding-block: var(--section-padding-xs);
  position: sticky;
  position: relative;
  top: 0;
}

/* Spacing the main flex and the links - Flexbox because I can add more navigation items, and I don't want the system to break  */
.site-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__links {
  list-style: none;
  display: flex;
  gap: calc(var(--gap-md) - var(--navlink-click-area));
  align-items: center;
}

/* individual link styles  */
.site-header__link a {
  transition: 0.3s ease-in-out;
  padding: var(--navlink-click-area);  /* experimental */

}

/* Active link */

.site-header__link > a[aria-current="page"] {
  font-weight: var(--fw-800);
}
/* Rollover effects - selecting all my "nav" links except the cta */
.site-header__link a:hover {
  rotate: 2deg;
  color: var(--site-hover-color);
}

/* Mobile Navigation  */

/* overarching container styles */
.site-header__mobile-nav {
  display: none;
}
.site-header__mobile-nav__burger {
  list-style: none;
  display: grid;
  gap: 0.4rem;
}

.burger__bar {
  width: 2rem;
  height: .3rem;
  background-color: var(--site-color);
  cursor: pointer;
}
.burger__bar[open] {
  background-color: var(--white);
  z-index: 5;

}

/* Link styles */
.site-header__links[data-nav-media-type="mobile"] {
  background-color: hsl(from var(--primary-hsl) h s l / .99);
  padding: calc(var(--section-padding-md) / 2);
  display: grid;
  gap: calc( var(--gap-md) / 3);
  position: absolute;
  inset: 0;
  margin: 0;
  width: 100%;
  height: 100vw;
  min-height: 100%;
  z-index: 0;
}

.site-header__link[data-nav-media-type="mobile"] a {
  color: var(--white);
}

/* Temporarily hiding the header on mobile devices  */
@media screen and (max-width: 768px) {

  .site-header {
    padding: var(--section-padding-md);
  }

  .site-header__content > .standard-btn {
    display: none;
  }
  .site-header__nav {
    display: none;
  }

  .site-header__mobile-nav {
    display: block;
  }

  .site-header__brand {
    width: 80%;
  }
  
}
