/* 
    header.css is imported in the index.css file.
    control the header of the site
    status - alpha 
    Last updated: 2025-03-16

    Notes:
    - unsure about how to handle the mobile version of the header -- need to discuss with Robin
    - I need to add a hamburger menu for the mobile version
    - some sort of pop over would be ideal - little to no JS
    - 768px is the breakpoint for the mobile version
      - at this point, the header will be hidden
      - the hamburger menu will be displayed
      - user should be able to toggle the menu
      - the menu should be a pop-over
      - Animation would be nice?? - probably not necessary, but it would be nice
    - I need to add a hover effect to the links
    - I need to style the CTA in a different fashion, so it's appropriate for that schreen size
    - Acessability is important
    - slim code is important

    - for the future when I'm converting this website to astro, I shall first out how to toggle the aria-current attribute with JS
*/
/* Overarching header styles  */
.site-header {
  background-color: var(--white);
  padding-block: var(--section-padding-xs);
  position: sticky;
  top: 0;
}

/* Spacing the main flex and the links - Flexbox because I can add more navigation items, and I don't want the system to break  */
.site-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__links {
  list-style: none;
  display: flex;
  gap: var(--gap-sm);
  align-items: center;
  /* padding: var(--sp-100); */
}

/* individual link styles  */
.site-header__link a {
  transition: 0.3s ease-in-out;
}


/* Active link */
.site-header__link > a[aria-current="page"] {
    font-weight: var(--fw-600);
}
/* Rollover effects - selecting all my "nav" links except the cta */

:where(.site-header__link a:hover) :not(.site-header__link:last-child) {
  color: var(--primary-200);
  transform: rotate(5deg);
}

.site-header__links > .site-header__link:last-child a {
  background-color: var(--site-color);
  color: var(--white);
  padding: var(--button-padding);
  border-radius: var(--radius-md);
  font-weight: var(--fw-700);
  cursor: pointer;

  transition: 0.3s ease-in-out;

  margin-inline-start: 18em;
}

.site-header__links > .site-header__link:last-child a:hover {
  background-color: var(--site-hover-color);
}

/* Temporarily hiding the header on mobile devices  */
@media screen and (max-width: 768px) {
  .site-header {
    display: none;
  }
}